<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SimpleTimerKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SimpleTimerTodayExtenstion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>522801711CEC71B900D59C40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5228017A1CEC71B900D59C40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>522801941CEC74EE00D59C40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5228019D1CEC74EE00D59C40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>522801C21CEC7D1D00D59C40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>522801CB1CEC7D1D00D59C40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5256250E1CEC5F1D0090282C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D127E23B198B34FC00A09E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D127E24D198B34FC00A09E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
